<h1><%= @figure.name %></h1>

<h2>Title: <%= @figure.titles.collect(&:name).join%></h2>
<h3>Landmarks: <%= @figure.landmarks.collect(&:name).join(", ") %></h3>

<form action="/figures/<%= @figure.id %>/edit">
  <input type="submit" value="Edit">
</form>
